services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all"]

volumes:
  mongo-data:
